.root{display:table;width:100%;height:100%;}.root>.container{width:100%;height:100%;}
.horizontal>*{display:table-cell;height:100%;}
.vertical>*{display:table;width:100%;}
.container{background-color:#aaffaa;vertical-align:middle;text-align:center;}
.view{background-color:#ffffaa;text-align:left;min-width:40px;min-height:40px;position:relative;}.view .manipulator{background-color:#aaaaff;display:none;width:20px;height:20px;position:absolute;cursor:crosshair;}.view .manipulator.left{left:0;}
.view .manipulator.top{top:0;}
.view .manipulator.right{right:0;}
.view .manipulator.bottom{bottom:0;}
.view .manipulatorsKeeper{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.33);}
.view.prepareRemove{background-color:#ffaaaa;}
.root:not(.fixed) .view:hover .manipulator{display:inline-block;}
