.sized(@w: 100%, @h: 100%) {
	width:  @w;
	height: @h;
}

.general {

	display: inline-block;
	vertical-align: top;

	box-sizing: border-box;
	border: 1px solid black;
	font-size: medium;
	line-height: normal;

}



.container {
	.sized;
	.general;
}

.container.horizontal > .finalElement {
	height: 100%;
	max-height: 100%;
}

.container.vertical > .finalElement {
	width: 100%;
	max-width: 100%;
}

.finalElement {

	.general;

	min-width:  40px;
	min-height: 40px;

	box-sizing: border-box;
	border: 1px solid black;
	font-size: medium;
	line-height: normal;
	background-color: #ffa;

	.minSize {}
	.fixedSize {}
	.relativeSize {}
	.maxSize {}
	.contentSize {}

	.prepareRemove {
		border: 2px solid red;
	}
}

.container.horizontal > .fintalElement.minSize { max-width:  40px; }
.container.vertical   > .fintalElement.minSize { max-height: 40px; }

.container.horizontal > .fintalElement.contentSize { width:  0; }
.container.vertical   > .fintalElement.contentSize { height: 0; }



.manipulator {
	background: #faa;
	display: inline-block;
	// resize: both;
	position: absolute;
	cursor: crosshair;
	&.right  { right:  0; }
	&.left   { left:   0; }
	&.top    { top:    0; }
	&.bottom { bottom: 0; }

}


// ========


.root {

	.sized;

	margin: 0;

	font-size: 0;
	line-height: 0;

	background: #afa;

}



.view {

	.general;

	min-width:  40px;
	min-height: 40px;

	position: relative;

	.content {
		position: absolute;
		left: 0;
		top:  0;
	}

	.manipulator {
		visibility: hidden;
		position: absolute;
		width:  20px;
		height: 20px;
	}

	&:hover .manipulator {
		visibility: visible;
	}

	background-color: #ffa;

	.prepareRemove {
		border: 2px solid red;
	}

}